---
---

@import "bootstrap/bootstrap";

#clients {
  column-count: 1;
}

@media (min-width: 768px) {
  #clients {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  #clients {
    column-count: 3;
  }
}
