<section class="section">
  <h2>Réalisons votre projet&#8239;!</h2>
  <p class="lead">Chez Stonecase, nous sommes là pour vous, chez vous ou dans notre atelier, de la conception de votre projet à sa livraison. Votre entière satisfaction est notre principale préoccupation. Nos devis sont gratuits, n’hésitez pas à nous contacter&#8239;!</p>
  <div class="inner-section realisons">
    <a class="text-white p-3 fw-bold" href="mailto:info@stonecase.ch?subject=Demande de devis" style="background-color: rgba(150, 150, 150, 0.5); position: absolute; top: 50%; left: 50%;transform:translate(-50%,-50%);">Demandez un devis gratuit</a>
  </div>
</section>
