<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "name": "Stonecase",
  "description": "Création de flightcase et de caisses de transport sur mesure pour transporter vos objets délicats en toute sécurité.",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "CH"
    "addressLocality": "Genève",
    "addressRegion": "GE",
    "postalCode": "1203",
    "streetAddress": "Cité Vieusseux 9"
  },
  "telephone": "+41 78 898 60 08",
  "email": "info@stonecase.ch",
  "url": "https://stonecase.ch/",
  "foundingDate": "2018",
  "logo": "https://stonecase.ch/img/stonecase-logo.svg",
  "slogan": "Flightcase manufacture"
}
</script>
