@font-face {
 font-family: "URW DIN";
 src: url("/fonts/urw-din/URWDIN-Regular.otf") format("opentype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "URW DIN";
 src: url("/fonts/urw-din/URWDIN-Bold.otf") format("opentype");
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: "URW DIN";
 src: url("/fonts/urw-din/URWDIN-Italic.otf") format("opentype");
 font-weight: normal;
 font-style: italic;
}

@font-face {
 font-family: "URW DIN SemiCond";
 src: url("/fonts/urw-din-semicond/URWDINSemiCond-Regular.otf") format("opentype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "URW DIN SemiCond";
 src: url("/fonts/urw-din-semicond/URWDINSemiCond-Demi.otf") format("opentype");
 font-weight: 500;
 font-style: normal;
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: 'URW DIN', $font-family-sans-serif;
$headings-font-family: 'URW DIN SemiCond', $font-family-base;

$container-max-widths: (
  xl: 1420px
);

h1 {
  font-size: 1.953rem !important;
}

@media (min-width: 800px) {
  body {
    font-size: 1.563rem !important;
  }

  h1 {
    font-size: 3.052rem !important;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.953rem !important;
  }

  h1 {
    font-size: 3.815rem !important;
  }
}
