<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stonecase</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body class="container">
    <img src="/static/stonecase-logo.svg" alt="Stonecase logo" width="100%" class="d-block mt-3 mt-md-5">
    <p class="mt-5 h2 font-weight-light d-flex flex-column flex-lg-row justify-content-between">
      <img src="/static/stone.svg" class="d-block d-lg-none" width="20px" height="auto">
      <span>Till Girardier</span>
      <img src="/static/stone.svg" class="d-none d-lg-block" width="20px" height="auto">
      <a href="mailto:info@stonecase.ch" style="color: #231f20;">info@stonecase.ch</a>
      <img src="/static/stone.svg" class="d-none d-lg-block" width="20px" height="auto" style="transform: rotate(180deg)">
      <a href="tel:+41788986008" style="color: #231f20;">+41 78 898 60 08</a>
    </p>

    {{ content }}
  </body>
</html>
